# Your database credentials you can change it
DATABASE=4inventory
USERNAME=4inventory
PASSWORD=4inventory

# Your API url (default: http://localhost:5000)

VITE_API_URL=http://localhost:5000

# Postgres Settings just change if you know what you are doing

POSTGRES_DB=${DATABASE}
POSTGRES_USER=${USERNAME}
POSTGRES_PASSWORD=${PASSWORD}

# Spring POM.xml settings just change if you know what you are doing

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/${DATABASE}
SPRING_DATASOURCE_USERNAME=${USERNAME}
SPRING_DATASOURCE_PASSWORD=${PASSWORD}

# Backend Settings

TIMEZONE = America/Bahia # Change for your default timezone