services:
  4inventory-frontend:
    image: 4inventory-frontend:latest
    build:
      context: ./Frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=${VITE_API_URL}
    ports:
      - 3000:3000
    depends_on:
      - 4inventory-api
  4inventory-api:
    image: 4inventory-api:latest
    build:
      context: ./Backend
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    env_file: ".env"
    environment:
      - TZ=${TIMEZONE}
    depends_on: 
      - db
  db:
    image: postgres:17-alpine
    restart: always
    shm_size: 128mb
    env_file: ".env"
    volumes:
      - ./postgres_data:/var/lib/postgresql
    ports:
      - 5432:5432

  # adminer:   OPTIONAL 
  #   image: adminer
  #   restart: always
  #   ports:  
  #     - 9090:9090
