services:
  app:
    image: backend-4inventory-api:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 5000:5000
    env_file: ".env"
    depends_on: 
      - db
  db:
    image: postgres:17-alpine
    restart: always
    shm_size: 128mb
    env_file: ".env"
    volumes:
      - ./postgres_data:/var/lib/postgresql/data
    ports:
      - 5432:5432

  adminer:
    image: adminer
    restart: always
    ports:  
      - 8080:8080
